<footer class="w3-container w3-teal w3-center w3-margin-top" style="padding-bottom: 15px;">
  <p>Find me on social media.</p>
  <a
    href="https://www.facebook.com/profile.php?id=100011236141512"
    target="_blank"
  >
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
  </a>
  <a href="https://www.instagram.com/shashwathamruthuchil/" target="_blank">
    <i class="fa fa-instagram w3-hover-opacity"></i>
  </a>
  <a href="https://www.snapchat.com/add/shashwath_uchil" target="_blank">
    <i class="fa fa-snapchat w3-hover-opacity"></i>
  </a>
  <a href="https://in.pinterest.com/shashwathamruthuchil" target="_blank">
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  </a>
  <a href="https://twitter.com/shashwath_uchil" target="_blank">
    <i class="fa fa-twitter w3-hover-opacity"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/shashwath-uchil-9a63b1115/"
    target="_blank"
  >
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </a>
</footer>
